*{
    margin: 0;
    padding: 0;
}
.BackgroundExImage{
    position: absolute;
    width: 72%;
    height: 112%;
    margin-top: -53.4%;
    margin-left: 28%;
}
/* YourComponent.css */

.EmmaExampleImage {
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* หรือสามารถใช้ justify-content: space-around; ตามที่คุณต้องการ */
    margin-top: -50%;
    margin-left: 30%;
  }
  
  .ExampleImageRow {
    display: flex;
  }
  
  .ExampleImageRow img {
    width: 32%;
    height: auto;
    margin-right: 1.5%; /* ระยะห่างระหว่างรูปภาพ */
    margin-bottom: 3%;
  }
