@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
}
  /* Hide scrollbar for WebKit-based browsers */
body::-webkit-scrollbar {
    display: none;
}

/*ส่วนBackground*/
.ForgotPasswordBackground{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FEA3B6;
}
.ForgotPasswordBackground img{
    position: sticky;
    width: 100%;
    height: 50%;
}

/*ส่วนข้อความชื่อprojectและคำว่าforgot password*/
.ProjectNameText{
    position: absolute;
    z-index: 1;
    margin-top: -49%;
    margin-left: 48.4%;
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: #FEA3B5;
    text-decoration: none;
}
.TextForgotPassword{
    position: absolute;
    z-index: 1;
    margin-top: -45%;
    margin-left: 35.7%;
    font-family: 'Lora', serif;
    font-size: 35px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 8px;
    color: #FFFF;
}
.LineUnderForgotPasswordText{
    position: absolute;
    z-index: 1;
    margin-top: -41%;
    margin-left: 26.5%;
}

/*ส่วนinputemail and inputpassword*/
.ForgotPasswordTextInput{
    position: absolute;
    z-index: 1;
    margin-top: -36%;
    margin-left: 27%;
}
.TextForgotPasswordEmail{
    color: #FFF;
    font-family: 'Lora',serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}
.ForgotPasswordEmailInput{
    outline: none;
    border: none;
    box-shadow: none;
    background: none;
    color: #FEA3B5;
    margin-top: 5%;
    font-family: 'Lora',serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}
.ForgotPasswordEmailInput ::placeholder{
    color: #FEA3B5;
}
.LineUnderEmailText{
    position: absolute;
    z-index: 1;
    margin-top: 17%;
    margin-left: -103%;
}



/*ส่วนbuttonlogin*/
.ForgotPasswordSendButton{
    position: absolute;
    z-index: 1;
    margin-top: -25.5%;
    margin-left: 27%;
    width: 47.5%;
    height: 7%;
    border-radius: 10px;
    background: #FDEDED;
    border: #FDEDED;
    color: #491F73;
    font-family: 'Lora',serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}
.BackToLoginPage{
    position: absolute;
    z-index: 1;
    margin-top: -19%;
    margin-left: 49%;
    color: #EFD370;
    text-align: center;
    font-family: 'Lora',serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 50;
    line-height: normal;
    text-decoration: none;
}

